@charset "UTF-8";


.header-logo {
    display: flex;
  }
  .text1 {
    font-size: 2vh;
  }
  .carousel-item .img-fluid {
    width:100%;
    height:auto;
  }
  
  .carousel-item{
    height: 80%;
  }
  
  .carousel-item a {
    display: block;
    width:100%;
  }
  
  .carousel-item .show-image {
    display: block;
    width:100%;
  }
  /* .carousel-inner> .item> img {
    width：640px; 
    height：360px; 
   }
.carousel-inner {
    width：640px; 
 height：360px; 
}  */

.top {
    /* background-image: url(../img/office-1834294_640.jpg); */
    background-size: cover;
}
.carousel-item {
    height: auto;
}
/* .col-md-6 {
    height: 200px; */
}
/* .container-pf {
    overflow:auto
} */

.row {
    color: whitesmoke;
}
.container-footer {
    margin-left: 0%; 
    overflow:auto
}

